<div class="jumbotron">
    <div class="container">
        <h1>Contact us</h1>
        <p>I could let you contact me, but I don't like hate mail about how crappy this site is.</a>.</p>
    </div>
</div>